<main class="site-main">
			
    		<!-- Page Banner -->
		<div class="container-fluid no-left-padding no-right-padding page-banner">
			<!-- Container -->
			<div class="container">
				<h3>Dodaj Post</h3>
				<ol class="breadcrumb">
					<li><a routerLink="/home">Hoary</a></li>
					<li class="active">Dodaj Post - Registrovani Korisinici</li>
				</ol>
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->


    <!-- Content Block -->
    <div class="container-fluid no-left-padding no-right-padding contact-section">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row" >
                <form [formGroup]="formazadodavanjeForm" (ngSubmit)="submitForm()">
                    <h2>Dodaj novu objavu</h2>
                  
                
                    <div class="form-group">
                      <label for="nameArticle">Ime objave</label>
                      <input type="text" id="nameArticle" formControlName="nameArticle" required>
                      <div class="error-message" *ngIf="formazadodavanjeForm.get('nameArticle').invalid && (formazadodavanjeForm.get('nameArticle').dirty || formazadodavanjeForm.get('nameArticle').touched)">
                        <div *ngIf="formazadodavanjeForm.get('nameArticle').hasError('required')">Ime je obavezno polje.</div>
                        <div *ngIf="formazadodavanjeForm.get('nameArticle').hasError('minlength')">Ime ne sme biti kraće od 2 karaktera.</div>
                        <div *ngIf="formazadodavanjeForm.get('nameArticle').hasError('maxlength')">Ime ne sme biti duže od 80 karaktera.</div>
                      </div>

                    </div>
                  
                    <div class="form-group">
                      <label for="mainPicturePath">Glavna slika</label>
                      
                      <input type="file" id="mainPicturePath" (change)="handleMainPictureChange($event)" required>
                      <div class="error-message" *ngIf="formazadodavanjeForm.get('mainPicturePath').invalid && (formazadodavanjeForm.get('mainPicturePath').dirty || formazadodavanjeForm.get('mainPicturePath').touched)">
                        <div *ngIf="formazadodavanjeForm.get('mainPicturePath').hasError('required')">Glavna slika je obavezna.</div>
                      </div>
                    </div>
             
                    <div class="form-group">
                      <label for="description">Opis (Kratki)</label>
                      <textarea id="description" formControlName="description" required></textarea>
                      <div class="error-message" *ngIf="formazadodavanjeForm.get('description').invalid && (formazadodavanjeForm.get('description').dirty || formazadodavanjeForm.get('description').touched)">
                        <div *ngIf="formazadodavanjeForm.get('description').hasError('required')">Opis je obavezan.</div>
                        <div *ngIf="formazadodavanjeForm.get('description').hasError('minlength')">Opis ne sme biti kraći od 1 karaktera.</div>
                        <div *ngIf="formazadodavanjeForm.get('description').hasError('maxlength')">Opis ne sme biti duži od 745 karaktera.</div>
                      </div>


                    </div>
         
                    <div class="form-group">
                        <label for="mainContentDescription">Glavni opis  <span class="optionSpan"> &#42;Opciono </span> </label>
                        <textarea id="mainContentDescription" formControlName="mainContent"></textarea>
                        <div class="error-message" *ngIf="formazadodavanjeForm.get('mainContent').invalid && (formazadodavanjeForm.get('mainContent').dirty || formazadodavanjeForm.get('mainContent').touched)">
                          <div *ngIf="formazadodavanjeForm.get('mainContent').hasError('maxlength')">Glavni Opis ne sme biti duži od 3000 karaktera.</div>
                        </div>
                      </div>


                    <div class="form-group">
                      <label for="additionalDescription">Dodatni opis <span class="optionSpan"> &#42;Opciono </span></label>
                      <textarea id="additionalDescription" formControlName="additionalDescription"></textarea>
                      <div class="error-message" *ngIf="formazadodavanjeForm.get('additionalDescription').invalid && (formazadodavanjeForm.get('additionalDescription').dirty || formazadodavanjeForm.get('additionalDescription').touched)">
                        <div *ngIf="formazadodavanjeForm.get('additionalDescription').hasError('maxlength')">Opis ne sme biti duži od 445 karaktera.</div>
                      </div>
                    </div>
             
                    <div class="form-group">
                      <label for="quote">Citat   <span class="optionSpan"> &#42;Opciono </span> </label>
                      <textarea id="quote" formControlName="quote"></textarea>
                      <div class="error-message" *ngIf="formazadodavanjeForm.get('quote').invalid && (formazadodavanjeForm.get('quote').dirty || formazadodavanjeForm.get('quote').touched)">
                        <div *ngIf="formazadodavanjeForm.get('quote').hasError('maxlength')">Citat ne sme biti duži od 385 karaktera.</div>
                      </div>
                    </div>
                 


                    <div class="form-group">
                        <label for="countryId">Drzava</label>
                        <select id="countryId" formControlName="countryId" required (change)="onCountryChange($event)">
                          <option value="" selected>Odaberi državu</option>
                          <option *ngFor="let country of countries" [value]="country.id">{{ country.nameCountry }}</option>
                        </select>
                  <!--		<div class="error-message" *ngIf="formazadodavanjeForm.get('townshipId').invalid && (formazadodavanjeForm.get('townshipId').dirty || formazadodavanjeForm.get('townshipId').touched)">
                          <div *ngIf="formazadodavanjeForm.get('townshipId').hasError('required')">ID opštine je obavezno polje.</div>
                          <div *ngIf="formazadodavanjeForm.get('townshipId').hasError('pattern')">Nije validan ID opštine.</div>
                        </div>-->
                      </div> 


                    <div class="form-group">
                      <label for="townshipId">Opština</label>
                      <select id="townshipId" formControlName="townshipId" required >
                        <option value="">Odaberi opštinu</option> 
                        <option *ngFor="let township of townships" [value]="township.id" >{{ township.nameTownship }}</option>
                        <!--
                        <option value="1">Opština 1</option>
                        <option value="2">Opština 2</option>
                         -->
                      </select>
                      <div class="error-message" *ngIf="formazadodavanjeForm.get('townshipId').invalid && (formazadodavanjeForm.get('townshipId').dirty || formazadodavanjeForm.get('townshipId').touched)">
                        <div *ngIf="formazadodavanjeForm.get('townshipId').hasError('required')">Opština je obavezno polje. Odaberite državu da bi vam se prikazale opštine.</div>
                      </div>
                    </div>




                    <div class="form-group">
                      <label for="beggin">Početak</label>
                      <input type="date" id="beggin" formControlName="beggin" required>
                      <div class="error-message" *ngIf="formazadodavanjeForm.get('beggin').invalid && (formazadodavanjeForm.get('beggin').dirty || formazadodavanjeForm.get('beggin').touched)">
                        <div *ngIf="formazadodavanjeForm.get('beggin').hasError('required')">Početak je obavezno polje.</div>
                      </div>
                    </div>
                  
                    <div class="form-group">
                      <label for="end">Kraj</label>
                      <input type="date" id="end" formControlName="end" required>
                      <div class="error-message" *ngIf="formazadodavanjeForm.get('end').invalid && (formazadodavanjeForm.get('end').dirty || formazadodavanjeForm.get('end').touched)">
                        <div *ngIf="formazadodavanjeForm.get('end').hasError('required')">Kraj je obavezno polje.</div>
                      </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Kategorija</label>
                        <div>
                          <label>
                            <input type="radio" formControlName="categoryDimensionId" value="1" required>
                            Polovina ekrana
                          </label>
                        </div>
                        <div>
                          <label>
                            <input type="radio" formControlName="categoryDimensionId" value="2" required>
                            Celi ekran
                          </label>
                        </div>
                        <div class="error-message" *ngIf="formazadodavanjeForm.get('categoryDimensionId').invalid && (formazadodavanjeForm.get('categoryDimensionId').dirty || formazadodavanjeForm.get('categoryDimensionId').touched)">
                          <div *ngIf="formazadodavanjeForm.get('categoryDimensionId').hasError('required')">Morate odabrati kategoriju dimenzija.</div>
                        </div>
                      </div>
                      
 

                      
                      

                    <button type="submit" [disabled]="formazadodavanjeForm.invalid">Dodaj objavu</button>
                  </form>
                  
                  
            </div><!-- Row /- -->
        </div><!-- Container /- -->
    </div><!-- Content Block /- -->
</main>