<div class="dialog-big-scroll">
<h3>Izmeni Post: </h3>
<form>
  <p class="podnaslov">Naziv:</p>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="data.nameArticle" value="{{data.nameArticle}}" > <br/>
  </mat-form-field>
  <br/>
  <p class="podnaslov">Kratak Opis:</p>
  <mat-form-field>
    <textarea matInput placeholder="Content" [(ngModel)]="data.id" value="{{data.description}}"></textarea>
  </mat-form-field>
  <br/>
  <p class="podnaslov">Dodatni Opis:</p>
  <mat-form-field>
    <textarea matInput placeholder="Content" [(ngModel)]="data.id" value="{{data.additionalDescription}}"></textarea>
  </mat-form-field>
  <br/>
  <p class="podnaslov">Dodatni Opis:</p>
  <mat-form-field>
    <textarea matInput placeholder="Content" [(ngModel)]="data.id" value="{{data.additionalDescription}}"></textarea>
  </mat-form-field>
  <br/>
  <p class="podnaslov">Dodatni Opis:</p>
  <mat-form-field>
    <textarea matInput placeholder="Content" [(ngModel)]="data.id" value="{{data.additionalDescription}}"></textarea>
  </mat-form-field>
  <br/>
  <p class="podnaslov">Dodatni Opis:</p>
  <mat-form-field>
    <textarea matInput placeholder="Content" [(ngModel)]="data.id" value="{{data.additionalDescription}}"></textarea>
  </mat-form-field>  
</form>

<button mat-button (click)="onCancel()">Poništi</button>
<button mat-button color="primary" (click)="onSave()">Sačuvaj</button>

</div>
