<div class="container admin-table  ">
  <h2>Svi Postovi</h2>

  <div class="search-container">
    <input  id="keywordPost" type="text" class="search-input" placeholder="Naziv objave">
    <button  (click)="searchAndGetPosts()" class="search-button">Pretraži</button>
  </div>

  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.nameArticle}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.author.email}} </td>
    </ng-container>


    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> TotalPrice ($) </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice}}  </td>
    </ng-container>


    <!-- Symbol Column --> 
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Kreiran U </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
    </ng-container>

    <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef> Poslednja Izmena  </th>
      <td mat-cell *matCellDef="let element"> {{element.lastUpdatedAt == null ?  '/': element.lastUpdatedAt}} </td>
    </ng-container>

    <ng-container matColumnDef="deleted">
      <th mat-header-cell *matHeaderCellDef> Obrisan u  </th>
      <td mat-cell *matCellDef="let element"> {{element.deletedAt == null ?  '/': element.deletedAt}} </td>
    </ng-container>
    

    <!-- <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Izmeni </th>
      <td mat-cell *matCellDef="let element">    <button mat-button color="primary" (click)="openEditDialog(element)">Izmeni</button>    </td>
    </ng-container> -->
    
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Obriši </th>
      <td mat-cell *matCellDef="let element">      <button mat-button color="warn" (click)="openDeleteDialog(element)">Obriši</button>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
 

  <mat-paginator [pageSizeOptions]="[5, 10, 100]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

 