<header class="header_s">	
    <!-- SidePanel -->
    <div id="slidepanel">
        <!-- Top Header -->
        <div class="container-fluid no-right-padding no-left-padding top-header">
            <!-- Container -->
            <div class="container">						
                <div class="top-left">
                    <ul>
                        <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Pinterst"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#" title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
                <div class="top-right">
                    <ul>
                        <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                        <!--<li><a id="search" href="#"><i class="fa fa-search"></i></a></li>-->
                    </ul>
                </div>
                <!-- Search Box -->
                <div class="search-box">
                    <span><i class="icon_close"></i></span>
                    <form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
                </div><!-- Search Box /- -->
            </div><!-- Container /- -->
        </div><!-- Top Header /- -->
    </div><!-- SidePanel /- -->
    
    <!-- Menu Block -->
    <div class="menu-block">
        <!-- Container -->
        <div class="container">
            <!-- Ownavigation -->
            <nav class="navbar ownavigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">hoary</a>
                </div>
                
                <app-navbar> </app-navbar>

                <div id="loginpanel" class="desktop-hide">
                    <div class="right" id="toggle">
                       <!-- a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>--> 
                        <a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
                    </div>
                </div>
            </nav><!-- Ownavigation /- -->
        </div><!-- Container /- -->
    </div><!-- Menu Block /- -->
</header><!-- Header Section /- -->