	
	<div class="main-container">
		
		<!-- Page Banner -->
		<div class="container-fluid no-left-padding no-right-padding page-banner">
			<!-- Container -->
			<div class="container">
				<h3>Contact</h3>
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Contact</li>
				</ol>
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->
		
		<main class="site-main">
			
			<!-- Content Block -->
			<div class="container-fluid no-left-padding no-right-padding contact-section">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="col-md-5 col-sm-6 col-xs-12">
							<div class="contact-content">
								<h3>Napiši post</h3>
								<p>Rapidiously recaptiualize leveraged core competencies through out-of-the-box alignments. Efficiently impact client-focused sources whereas emerging action items. Efficiently grow premium web-readiness rather than. Synergistically fashion dynamic total linkage Rapid- iously recaptiualize leveraged core alignments.</p>
								<p><i class="fa fa-phone"></i> <b>Telefon:</b><a href="tel:+0081254798634">+0081254798634</a></p>
								<p><i class="fa fa-home"></i> <b>Adresa:</b><span>Zdravka Celara 15, Beograd. </span></p>
								<p><i class="fa fa-envelope-o"></i> <b>Emaik:</b><a href="mailto:sultana@gmail.com">lazar@gmail.com</a></p>
							</div>
						</div>
						<div class="col-md-7 col-sm-6 col-xs-12">
							<div class="contact-form">
								<h3>Tvoj post:</h3>
								<form class="row">
									<div class="col-md-6 form-group">
										<input type="text" class="form-control" placeholder="you Name*"  name="contact-name" id="input_name" />
									</div>
									<div class="col-md-6 form-group">
										<input type="text" class="form-control" placeholder="you e-mail*"  name="contact-email" id="input_email" />
									</div>
									<div class="col-md-6 form-group">
										<input type="text" class="form-control" placeholder="you website*"  name="contact-website" id="input_website" />
									</div>
									<div class="col-md-6 form-group">
										<input type="text" class="form-control" placeholder="Subject*"  name="contact-subject" id="input_subject" />
									</div>
									<div class="col-md-12 form-group">
										<textarea class="form-control" placeholder="Your Message"  name="textarea-message" id="textarea_message"></textarea>
									</div>
									<div class="col-md-12 form-group">
										<input type="submit" value="Send Message" id="btn_submit" />
									</div>
									<div id="alert-msg" class="alert-msg"></div>
								</form>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Content Block /- -->
		</main>
	</div>