.slikaProfilna {
    width: 600px !important;
}

.pb-5-lazar {
    padding-bottom: 24px !important;
}

.bigger-font {
    font-size: 25px !important;
}

.medium-font {
    font-size: 16px !important;
}


